# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
env/

# Ignore local database files
*.sqlite3

# Ignore Docker-specific files
Dockerfile
docker-compose.yml

# Ignore .git folder and any other unnecessary files
.git/
